<!DOCTYPE html>
<html>
  <head>
    <title>Pictionary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/global.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body ng-app="app" ng-controller="ctrl">
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning  justify-content-center">
      <a class="navbar-brand h1">{{vm.youAreDrawing}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div id="chat" class="col col-md-3">
      <div class="border" >
        <div class="scrollable" style="height:30vh;padding:5px;" id="chat-view">
          <div ng-repeat="msg in vm.messages track by $index">
            <b>{{msg.name}}</b>
            <p>{{msg.message}}</p> 
          </div>
        </div>
        <form ng-submit="vm.sendMsg()">
          <input class="form-control" ng-model="vm.msg" placeholder="Press enter to guess..."></input>
        </form>
      </div>
      <button class="btn btn-success" style="width:100%;" ng-click="vm.newRound()" ng-if="vm.drawing">New Round</button>
    </div>
    <button class="btn btn-danger" style="width:20vw;position:fixed;left:0;bottom:0" ng-click="vm.clear()" ng-if="vm.drawing">Clear</button>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js" integrity="sha512-WIklPM6qPCIp6d3fSSr90j+1unQHUOoWDS4sdTiR8gxUTnyZ8S2Mr8e10sKKJ/bhJgpAa/qG068RDkg6fIlNFA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    <script src="js/sketch.js"></script>
    <script src="js/game.js"></script>
    
  </body>
</html>